<footer class="
{% if request.path == acceuil_url %}
	fixed-bottom
{% elif request.path == about_url %}
	fixed-bottom
{% elif request.path == contact_url %}
	fixed-bottom
{% elif request.path == login_url %}
	fixed-bottom
{% elif request.path == logout_url %}
	fixed-bottom
{% endif %}" >
	<div class="row">
		<div class="col-lg-4 footer-left">
			<ul>
				<li class="row">
					<a href="" class="offset-2 col-lg-8">Nous contacter</a>
					<div class="offset-2"></div>
				</li>
				<li class="row">
					<a href="" class="offset-2 col-lg-8">Faire une remarque</a>
					<div class="offset-2"></div>
				</li>
				<li class="row">
					<a href="" class="offset-2 col-lg-8">Something</a>
					<div class="offset-2"></div>
				</li>
			</ul>
		</div>
		<div class="col-lg-4">
			<p>Souscrire aux newsletter : </p>
			<div class="row">
				<input id="input-news" type="email" class="form-control offset-2 col-lg-6" placeholder="Email for News">
				<button id="btn-news" class="btn btn-outline-success col-lg-2 offset-2">Entrer</button>
			</div>
		</div>
		<div class="col-lg-4">
			
		</div>
	</div>
	<p>&copy; Malaika Market - Powered by Django</p>
</footer>
